<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DesignStorm</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="css/create.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/create.js"></script>

  </head>
  <body>
    <div id="navbar">
      <img id="navlogo" src="/img/logo-small.png">
    </div>
    <div id = "subtitle" class="animated fadeInUp">
      <div id = "contents">
        <p>Let's get started by calibrating for your personal brainstorming experience!</p>
        <div id = "settings">
          <p class = "whiteText">Time for each Round:</p>
          <form id="duration" action="/session" method="get">
            <!-- <span class = "whiteText">Minutes:</span> -->
            <input form="duration" type="number" class = "inp" id = "min" name="min"  min="0" max="60" placeholder="minutes"><br>
            <!-- <span class = "whiteText">Seconds</span> -->
            <input form="duration" type="number" class = "inp" id="sec" name="sec" min="0" max="60" placeholder="seconds"><br>
            <!-- <span class = "whiteText">Theme of <creation</span> -->
            <input form="duration" type="text" class = "inp" id="theme" name="theme" placeholder="mission statement"><br>
            <input class = "button" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
