<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DesignStorm</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="css/create.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/create.js"></script>

  </head>
  <body>
    <div id="navbar">
      <img id="navlogo" src="/img/logo-small.png">
    </div>
    <div id = "subtitle" class="animated fadeInUp">
      <div id = "contents">
        <h2>Let's get started by calibrating for your personal brainstorming experience!</h2>
        <div id = "settings">

          <form id="duration" action="/session" method="get">
            <!-- <span class = "whiteText">Minutes:</span> -->
            <div class="inputBlock onethird">
              <h3>Round Duration</h3>
              <input form="duration" type="number" class = "inp" id = "min" name="min"  min="0" max="60" placeholder="Minutes">
              <!-- <span class = "whiteText">Seconds</span> -->
              <input form="duration" type="number" class = "inp" id="sec" name="sec" min="0" max="60" placeholder="Seconds"><br>
              <!-- <span class = "whiteText">Theme of <creation</span> -->
            </div>
            <div class="inputBlock twothirds">
              <h3>Mission Statement</h3>
              <input form="duration" type="text" class = "inp" id="theme" name="theme" placeholder="What are you focusing on?"><br>
            </div>
            <input class = "button stretch" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
