<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DesignStorm</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/animate.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="navbar">
      <img id="navlogo" src="/img/logo-small.png">
    </div>
    <div id="container">
      <h2 class="headline animated fadeInUp">Generate problems and solutions rapidly and collaboratively</h2>
      <div id="button-div" class="animated fadeInUp">
        <a class="button" href="#">Create</a>
      </div>
    </div id="container">

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    var socket = io()
    $(".button").click(function () {
      socket.emit("reset");
      window.location.replace("/create");
    });
  </script>
</html>
