<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello World</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/session.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="container">
      <h1>DesignStorm</h1>
    </div>
    <h2 id="timer"></h2>
    <div id="container">
      <ul id="themes">
        <li class="theme">
          <div id="themeCard">
            <div id = "textBox">I am a theme</div>
          </div>
          <br>
      </ul>
    </div>
    <div id="container">
    <ul id="ideas">
      <li class="card">
        <div id="cont-r">
          <div id = "colorBar"></div>
          <div id = "textBox"> Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!Hello There!</div>
        </div>
        <br>
    </ul>
    <form id="idea-submission">
      <input autocomplete="off" type="text" id="idea_field" placeholder="Enter your idea here">
    </form>
  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="js/session.js"></script>
  </body>

</html>
