<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello World</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="container">
      <h1>DesignStorm</h1>
    </div id="container">
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
  </body>

</html>
